/*---------- GLOBAL CSS START ----------*/

/*-- FONTS START --*/

@font-face {
  font-family: 'Lato-Light';
  src: url(../fonts/Lato-Light.ttf);

}
@font-face {
  font-family: 'Lato-Hairline';
  src: url(../fonts/Lato-Hairline.ttf);

}

/*-- FONTS START --*/

/*-- FOOTER CSS START --*/

footer{
  margin-top: 0 auto !important;
}


footer p{
  text-align: center;
  font-weight: 100 !important;
  letter-spacing: .5px;
  font-family: 'Lato-Hairline' !important;
}

.githubFooterLink{
  color: #313131 !important;
}

#footer_wrap{
  border-top: 3px solid white !important;
  margin-top: 10% !important;
  margin-bottom: auto;
  padding: 10px;
}

/*-- FOOTER CSS END --*/

/*-- HEADERS CSS START --*/
h3{
  text-align: center;
  font-size: 15px;
  color: white;
}

h4{
  text-align: center;
  font-size: 14px;
  color: white;
}

/*-- HEADERS CSS END --*/

#trigger-overlay{
  /*position: fixed !important;*/
  /*margin-top: 10px !important;*/
  /*padding: 5px !important;*/
  margin-left: 15px !important;
}

i{
  color: white !important;
  margin-right: 10px !important;
}

i:hover{
  color: grey !important;
}
a:hover{
  color: grey !important;
  background: transparent !important;
}
i:active{
  color: black !important;
}

.menuShow{
  margin-top: 10px !important;
  padding: 5px !important;
}
.menuShowHome{
  margin-top: 10px !important;
  padding: 5px !important;
}

body{
  font-family: 'Lato-Light' !important;
  /*letter-spacing: 1.5px !important;*/
}


/*-- DIVIDERS CSS START --*/

.bg-divider{
  width: 70% !important;
  height: 70% !important;
  margin-left: auto;
  margin-bottom: 10px;
  margin-right: auto;
  display: block;
}
.bg-divider-flipped{
  width: 70% !important;
  height: 70% !important;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  display: block;
  -webkit-transform: rotate(-180deg);

}

/*-- DIVIDERS CSS END --*/


/*-- ANIMATIONS CSS START --*/

.animated.fadeIn{
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: .5s;
}
.animated.fadeInUp.content{
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: .5s;
}
.animated.fadeInDown.content{
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: .5s;
}
.animated.fadeInLeft{
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: .5s;
}
.animated.fadeInRight{
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: .5s;
}
.animated.fadeInUp{
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: .5s;
}
.animated.fadeOut{
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: .5s;
}

.animated.slideInDown{
  -webkit-animation-duration: .5s;
  -webkit-animation-delay: 0s;
  -webkit-overflow: hidden;
}
.menu.animated.fadeInDown{
  -webkit-animation-duration: .1s;
  -webkit-animation-delay: 0s;
  -webkit-overflow: hidden;
}
.menu.animated.fadeInDown.one{
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: .6s;
  -webkit-overflow: hidden;
}
.menu.animated.fadeInDown.two{
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: .7s;
  -webkit-overflow: hidden;
}
.menu.animated.fadeInDown.three{
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: .8s;
  -webkit-overflow: hidden;
}
.menu.animated.fadeInDown.four{
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: .9s;
  -webkit-overflow: hidden;
}
.menu.animated.fadeInDown.five{
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 1s;
  -webkit-overflow: hidden;
}

/*-- ANIMATIONS CSS END --*/



/*---------- GLOBAL CSS END ----------*/






/*----- INDEX.HTML PAGE START -----*/

#body{
  background: #EB4646 !important;
}


i.fa-angle-down{
  margin-left: 50% !important;
  margin-right: 50% !important;
  position: relative !important;
  bottom: 50px !important;
}
i.fa-angle-down:hover{
  color: white !important;
}

.cbp-so-scroller h2{
  color: white !important;
}
.cbp-so-scroller p{
  color: white !important;
}

.intro{
  font-size: 50px !important;
}

.mySmallLink{
  position: relative;
  bottom: 2px;
}

.bioLinks{
  color: #B8B6B4;
}
.bioLinks:hover{
  text-decoration: none;
}

i.menuShow{
  color: white !important;
}
i.menuShow:hover{
  color: grey !important;
}
i.menuShow:active{
  color: black !important;
}

/*-- MY PIC CSS START --*/

.myPic{
  display: block;
  width: 300px;
  height: 300px;
  position: relative;
  margin-top: 80px;
  margin-right: 20%;
  border-radius: 200px;
  border: 3px solid white;
}

/*-- MY PIC CSS END --*/

.aboutMeP{
  padding-left: auto;
  padding-right: auto;
  text-align: left;
  padding-bottom: 20px;
  font-size: 20px;
}



/*----- INDEX.HTML PAGE END -----*/










/*----- WHAT I KNOW.HTML PAGE START  -----*/

#learned-body{
  background: #F5D15B !important;
  /*background: #2ED1C0 !important;*/
}


#learned-body p{
  color: white !important;
  font-family: 'Lato-Light' !important;
}
.whatIKnowP{
  margin-bottom: 30px;
  padding-left: 100px;
  padding-right: 100px;
  text-align: center;
  font-size: 20px;
  color: white !important;
}


.learned-titles{
  padding: 10px;
  text-align: center;
  font-size: 90px !important;
  color: white !important;
  border-bottom: 3px solid white !important;
}

/*-- LANGUAGES LIST CSS START --*/


.languages.col-sm-3{
  list-style-type: none;
  text-align: center;
  position: relative;
/*  color: #6600ff;*/
}
.languages.col-sm-3 a{
  font-size: 20px !important;
  list-style-type: none;
  text-align: center;
  position: relative;
  color: white;
}
.languages.col-sm-3 a:hover{
  list-style-type: none;
  text-align: center;
  position: relative;
  color: grey;
  text-decoration: none;
}


/*-- LANGUAGES LIST CSS END --*/


/*----- WHAT I KNOW.HTML PAGE END  -----*/










/*----- PROJECTS PAGE.HTML START  -----*/

#projects-body{
  background: #309FFF !important;
  /*background: #EB4646 !important;*/
}

#projects-body h1{
  color: white !important;
  border-bottom: 3px solid white !important;
}
#projects-body p{
  color: white !important;
}

#project-title{
  font-size: 100px !important;
  padding: 15px;
  text-align: center;
}

.projects-icon{
  color: white !important;
}
.projects-icon:hover{
  color: white !important;
}
.projects-icon:active{
  color: white !important;
}

.status{
  color: white !important;
  /*border-left: 13px solid #6600ff !important;*/
  /*background: #6600ff !important;*/
  padding-left: 2px !important;
  padding-right: 2px !important;
  /*border-radius: 10px !important;*/
}

.fa-check-square{
  color: white !important;
}
.fa-square{
  color: grey !important;
}



/*----- PROJECTS PAGE.HTML END  -----*/
