/*---------- GLOBAL CSS START ----------*/
h1,h2{
  text-align: center;
}

h3{
  text-align: center;
  font-size: 15px;
  color: darkgrey;
}

h4{
  text-align: center;
  font-size: 14px;
  color: grey;
}

p{
  padding-left: 250px;
  padding-right: 250px;
  text-align: center;
}

header{
  margin-top: 120px;
}

/*a:hover{
  color: lightblue !important;
}
a:active{
  color: hotpink !important;
}*/

body{
}

/*---------- GLOBAL CSS END ----------*/






/*----- INDEX.HTML PAGE START -----*/

/*-- TOP NAV BAR CSS START --*/
.container-fluid{
  padding: 10px;

}

.navbar.navbar-default{
  border-radius: 0px;
  background: rgba(244, 244, 244, 0.8);

}



/*-- TOP NAV BAR CSS END --*/



/*----- INDEX.HTML PAGE END -----*/









/*----- ABOUT ME.HTML START -----*/

/*-- MY PIC CSS START --*/
#my-pic{
  display: block;
  width: 250px;
  height: 250px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}
/*-- MY PIC CSS END --*/

/*-- ABOUT ME TEXTS START --*/
.aboutMeP{
  padding-left: 300px;
  padding-right: 300px;
  text-align: center;
  padding-bottom: 20px;
}
.aboutMePTitles{
  padding-left: 300px;
  padding-right: 300px;
  font-weight: bold;
  text-align: center;
}

.aboutMeH2{
  font-size: 20px;
  padding-top: 20px;
}

.aboutMeSubs{
  font-size: 15px;
  color: darkgrey;
}

.aboutMeSubTitles{
  font-size: 14px;
  color: grey;
}

.downloadLink{
  padding-top: 60px;
  padding-bottom: 30px;
  display: block;
  text-align: center;
}

/*-- ABOUT ME TEXTS END --*/


/*-- ABOUT ME PANELS START --*/
.personal-panel{
/*  background: lightblue !important;*/
  border-top: 1px solid lightgrey !important;
  padding: 100px;
}
.goals-panel{
/*  background: lightgreen !important;*/
  padding: 100px;
  border-top: 1px solid lightgrey !important;
}
.education-panel{
/*  background: lightyellow !important;*/
  padding: 100px;
  border-top: 1px solid lightgrey !important;
  border-bottom: 1px solid lightgrey !important;
}
.download-panel{
  padding: 100px;
}

/*-- ABOUT ME PANELS END --*/




/*----- ABOUT ME.HTML END -----*/










/*----- WHAT I KNOW.HTML PAGE START  -----*/

/*-- LANGUAGES LIST CSS START --*/


.languages.col-sm-3{
  list-style-type: none;
  text-align: center;
  position: relative;

}

.whatIKnowP{
  margin-bottom: 30px;
}

.dividerDiv{
  border-top: 1px solid lightgrey !important;
}


/*-- LANGUAGES LIST CSS END --*/


/*----- WHAT I KNOW.HTML PAGE END  -----*/










/*----- PROJECTS PAGE.HTML START  -----*/

/*-- PROJECTS LIST CSS START --*/
.list-group{
  text-align: center;
  position: relative;
  margin-left: 300px;
  margin-right: 300px;
}

.list-group-item-text{
  padding-left: 100px;
  padding-right: 100px;
}
.list-group-item-text.status{
  padding-left: 100px;
  padding-right: 100px;
  font-size: 15px;
  color: darkgrey;
}

/*-- PROJECTS LIST CSS END --*/


/*----- PROJECTS PAGE.HTML END  -----*/
