/*---------- GLOBAL CSS START ----------*/
h1,h2{
  text-align: center;
}

h3{
  text-align: center;
  font-size: 15px;
  color: darkgrey;
}

h4{
  text-align: center;
  font-size: 14px;
  color: grey;
}

p{
  padding-left: 50px;
  padding-right: 50px;
}

header{
  margin-top: 120px;
}

/*---------- GLOBAL CSS END ----------*/


/*----- INDEX.HTML PAGE START -----*/
/*-- TOP NAV BAR CSS START --*/
.container-fluid{
  padding: 10px;
}

.navbar.navbar-default{
  border-radius: 0px;
}

/*-- TOP NAV BAR CSS END --*/

/*----- INDEX.HTML PAGE END -----*/





/*----- ABOUT ME.HTML START -----*/

/*-- MY PIC CSS START --*/
#my-pic{
  width: 250px;
  height: 250px;
  position: relative;
  left: 520px;
}
/*-- MY PIC CSS END --*/

/*-- ABOUT ME TEXTS START --*/
.aboutMeP{
  padding-left: 300px;
  padding-right: 300px;
  text-align: center;
}
.aboutMePTitles{
  padding-left: 300px;
  padding-right: 300px;
  font-weight: bold;
  text-align: center;
}

.aboutMeH2{
  font-size: 20px;
  padding-top: 20px;
}

.aboutMeSubs{
  font-size: 15px;
  color: darkgrey;
}

.aboutMeSubTitles{
  font-size: 14px;
  color: grey;
}

.downloadLink{
  padding-top: 60px;
  padding-bottom: 30px;
  display: block;
  text-align: center;
}

/*-- ABOUT ME TEXTS END --*/



/*----- ABOUT ME.HTML END -----*/










/*----- WHAT I KNOW.HTML PAGE START  -----*/

/*-- LANGUAGES LIST CSS START --*/


.languages.col-md-2{
  list-style-type: none;
  text-align: center;
  position: relative;
  left: 200px;

}
/*-- LANGUAGES LIST CSS END --*/


/*----- WHAT I KNOW.HTML PAGE END  -----*/
