/*---------- GLOBAL CSS START ----------*/
@import url(http://fonts.googleapis.com/css?family=Lato:100,300);


h1,h2{
  text-align: center;
  /*text-shadow: 0px 0px 5px white !important;*/
}

h3{
  text-align: center;
  font-size: 15px;
  color: darkgrey;
}

h4{
  text-align: center;
  font-size: 14px;
  color: grey;
}

p{
  padding-left: 250px;
  padding-right: 250px;
  text-align: center;
}

header{
  margin-top: 120px;
}

i{
  color: #6600ff !important;
}

i:hover{
  color: grey !important;
}
a:hover{
  color: grey !important;
  background: transparent !important;
}
i:active{
  color: black !important;
}

#body{
  font-family: 'Lato', sans-serif !important;
  background-image: url(../images/bg_body_new.jpg) !important;
  background-size: 100% 100% !important;
  background-repeat: no-repeat !important;
}
body{
  font-family: 'Lato', sans-serif !important;
  background: #EDEDED !important;
}





#footer_wrap{
  margin-top: 30px;
  margin-bottom: auto;
  padding: 10px;
  /*border-top: 1px solid lightgrey !important;*/
}


.bg-divider{
  margin-left: auto;
  margin-bottom: 10px;
  margin-right: auto;
  display: block;
}
.bg-divider-flipped{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  display: block;
  -webkit-transform: rotate(-180deg);

}

.githubFooterLink{
  color: #6600ff;

}

.navbar.navbar-default{
  border-radius: 0px;
/*  background: linear-gradient(to right, #6600ff, #FF00C3, #FF9100, #24F2AA);*/
  background: rgba(250, 250, 250, .0);
/*  background: #6600ff;*/
  border-bottom: 0px solid #313131;
}

.container-fluid{
  padding: 10px;

}

/*-- ANIMATIONS CSS START --*/
.animated.fadeIn{
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: .5s;
}

.animated.slideInDown{
  -webkit-animation-duration: .5s;
  -webkit-animation-delay: 0s;
  -webkit-overflow: hidden;
}
.menu.animated.fadeInDown{
  -webkit-animation-duration: .1s;
  -webkit-animation-delay: 0s;
  -webkit-overflow: hidden;
}





/*-- ANIMATIONS CSS END --*/

/*---------- GLOBAL CSS END ----------*/






/*----- INDEX.HTML PAGE START -----*/



#mySmallPic{
  width: 30px;
  height: 30px;
  border-radius: 130px;
  border: 1px solid #6600ff;
  /*margin: 12px;*/
}
#mySmallPic:hover{
  width: 30px;
  height: 30px;
  border-radius: 130px;
  border: 1px solid grey;
  /*margin: 12px;*/
}
#mySmallPic:active{
  width: 30px;
  height: 30px;
  border-radius: 130px;
  border: 1px solid #313131;
  /*margin: 12px;*/
}

.mySmallLink{
  position: relative;
  bottom: 2px;
}

.bioLinks{
  color: #6600ff;
}

.myPic2{
  display: block;
  width: 250px;
  height: 250px;
  position: relative;
  bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 130px;
  border: 1px solid #313131;
}


ul.dropdown-menu a{
/*  margin-top: 10px;*/
  color: #6600ff !important;
  background: rgba(250, 250, 250, .0);
}

.dropdown-toggle{
  background: transparent !important;
}

ul.dropdown-menu a:hover{
/*  margin-top: 10px;*/
  color: grey !important;
  background: transparent;
}
ul.dropdown-menu{
  background: rgba(250, 250, 250, .0);
  box-shadow: 0px 0px 0px white;
  border: 0px solid white;
}

/*-- HEADER CSS START --*/

#meH1{
  color: white;
  background: #6600ff;
  padding: 10px;
  position: relative;
  bottom: 120px;
}

/*#header_wrap{
  background: white !important;
  border: 1px solid #6600ff;
  width: 700px;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  margin-top: 110px;
}*/

.homePageP{
  font-size: 20px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
}

/*#myPic2{
  width: 250px;
  height: 250px;
}*/

/*-- HEADER CSS END--*/






/*----- INDEX.HTML PAGE END -----*/









/*----- ABOUT ME.HTML START -----*/

/*-- MY PIC CSS START --*/
#my-pic{
  display: block;
  width: 250px;
  height: 250px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  border-radius: 130px;
  border: 1px solid #313131;
}

/*-- MY PIC CSS END --*/

/*-- ABOUT ME TEXTS START --*/
.aboutMeP{
  padding-left: 200px;
  padding-right: 200px;
  text-align: center;
  padding-bottom: 20px;
  font-size: 20px;
  /*text-shadow: 0px 0px 5px #EDEDED !important;*/
}
.aboutMePTitles{
  padding-left: 300px;
  padding-right: 300px;
  font-weight: bold;
  text-align: center;
}

.aboutMeH2{
  font-size: 20px;
  padding-top: 20px;
}

.aboutMeSubs{
  font-size: 15px;
  color: #6600ff;
}

.aboutMeSubTitles{
  font-size: 14px;
  color: grey;
}

.downloadLink{
  padding: 50px;
  display: block;
  text-align: center;
  color: lightgrey !important;
}

#downloadLinkIcon{
  color: #6600ff !important;
}
#downloadLinkIcon:hover{
  color: grey !important;
  text-decoration: underline;
}

/*-- ABOUT ME TEXTS END --*/


/*-- ABOUT ME PANELS START --*/
.personal-panel{
/*  background: lightblue !important;*/
  border-top: 1px solid lightgrey !important;
  padding: 100px;
}
.goals-panel{
/*  background: lightgreen !important;*/
  padding: 100px;
  border-top: 1px solid lightgrey !important;
}
.education-panel{
/*  background: lightyellow !important;*/
  padding: 100px;
  border-top: 1px solid lightgrey !important;
  border-bottom: 1px solid lightgrey !important;
}
.download-panel{
}

/*-- ABOUT ME PANELS END --*/




/*----- ABOUT ME.HTML END -----*/










/*----- WHAT I KNOW.HTML PAGE START  -----*/

/*-- LANGUAGES LIST CSS START --*/


.languages.col-sm-3{
  list-style-type: none;
  text-align: center;
  position: relative;
/*  color: #6600ff;*/
}
.languages.col-sm-3 a{
  list-style-type: none;
  text-align: center;
  position: relative;
  color: #6600ff;
}
.languages.col-sm-3 a:hover{
  list-style-type: none;
  text-align: center;
  position: relative;
  color: grey;
}

.whatIKnowP{
  margin-bottom: 30px;
}

.dividerDiv{
  /*border-top: 1px solid lightgrey !important;*/
}


/*-- LANGUAGES LIST CSS END --*/


/*----- WHAT I KNOW.HTML PAGE END  -----*/










/*----- PROJECTS PAGE.HTML START  -----*/

/*-- PROJECTS LIST CSS START --*/
.list-group{
  text-align: center;
  position: relative;
  margin-left: 300px;
  margin-right: 300px;
}

.list-group-item:hover{
  background: lightgrey !important;

}
.list-group-item:active{
  background: #6600ff !important;

}

.list-group-item-text{
  padding-left: 100px;
  padding-right: 100px;
}
.list-group-item-text.status{
  padding-left: 100px;
  padding-right: 100px;
  font-size: 15px;
  color: #6600ff;
}

.list-group-item-text.status:hover{
}


/*-- PROJECTS LIST CSS END --*/


/*----- PROJECTS PAGE.HTML END  -----*/
