@font-face {
  font-family: 'Lato-Light';
  src: url(../fonts/Lato-Light.ttf);
}

@font-face {
  font-family: 'Lato-Hairline';
  src: url(../fonts/Lato-Hairline.ttf);
}

/* line 4, ../sass/custom.scss */
footer {
  margin-top: 0 auto !important;
}
/* line 6, ../sass/custom.scss */
footer p {
  text-align: center;
  font-weight: 300 !important;
  font-family: 'Lato-Light' !important;
  letter-spacing: 2px;
}

/* line 18, ../sass/custom.scss */
.githubFooterLink {
  color: #313131 !important;
}

/* line 20, ../sass/custom.scss */
#footer_wrap {
  border-top: 3px solid white !important;
  margin-top: 10% !important;
  margin-bottom: auto;
  padding: 10px;
}

/* line 30, ../sass/custom.scss */
h3 {
  text-align: center;
  font-size: 15px;
  color: white;
}

/* line 36, ../sass/custom.scss */
h4 {
  text-align: center;
  font-size: 14px;
  color: white;
}

/* line 44, ../sass/custom.scss */
#trigger-overlay {
  margin-left: 15px !important;
}

/* line 46, ../sass/custom.scss */
i {
  color: white !important;
  margin-right: 10px !important;
}
/* line 49, ../sass/custom.scss */
i:hover {
  color: grey !important;
}
/* line 50, ../sass/custom.scss */
i:active {
  color: black !important;
}

/* line 53, ../sass/custom.scss */
a:hover {
  color: grey !important;
  background: transparent !important;
}

/* line 59, ../sass/custom.scss */
.menuShow {
  margin-top: 10px !important;
  padding: 5px !important;
}

/* line 63, ../sass/custom.scss */
.menuShowHome {
  margin-top: 10px !important;
  padding: 5px !important;
}

/* line 68, ../sass/custom.scss */
body {
  font-family: 'Lato-Light' !important;
}

/* line 70, ../sass/custom.scss */
.overlay h2 {
  font-family: 'Lato-Light' !important;
}

/* line 72, ../sass/custom.scss */
.bg-divider {
  width: 70% !important;
  height: 70% !important;
  margin-left: auto;
  margin-bottom: 10px;
  margin-right: auto;
  display: block;
}

/* line 82, ../sass/custom.scss */
.bg-divider-flipped {
  width: 70% !important;
  height: 70% !important;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  display: block;
  -webkit-transform: rotate(-180deg);
}

/* line 98, ../sass/custom.scss */
.animated .fadeIn {
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: .5s;
}
/* line 105, ../sass/custom.scss */
.animated .fadeInUp .content {
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: .5s;
}
/* line 113, ../sass/custom.scss */
.animated .fadeInDown .content {
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: .5s;
}
/* line 120, ../sass/custom.scss */
.animated .fadeInLeft {
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: .5s;
}
/* line 126, ../sass/custom.scss */
.animated .fadeInRight {
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: .5s;
}
/* line 132, ../sass/custom.scss */
.animated .fadeInUp {
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: .5s;
}
/* line 138, ../sass/custom.scss */
.animated .fadeOut {
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: .5s;
}
/* line 145, ../sass/custom.scss */
.animated .slideInDown {
  -webkit-animation-duration: .5s;
  -webkit-animation-delay: 0s;
  -webkit-overflow: hidden;
}

/* line 155, ../sass/custom.scss */
.menu.animated .fadeInDown {
  -webkit-animation-duration: .1s;
  -webkit-animation-delay: 0s;
  -webkit-overflow: hidden;
}
/* line 162, ../sass/custom.scss */
.menu.animated .fadeInDown.one {
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: .6s;
  -webkit-overflow: hidden;
}
/* line 169, ../sass/custom.scss */
.menu.animated .fadeInDown.two {
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: .7s;
  -webkit-overflow: hidden;
}
/* line 176, ../sass/custom.scss */
.menu.animated .fadeInDown.three {
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: .8s;
  -webkit-overflow: hidden;
}
/* line 183, ../sass/custom.scss */
.menu.animated .fadeInDown.four {
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: .9s;
  -webkit-overflow: hidden;
}
/* line 190, ../sass/custom.scss */
.menu.animated .fadeInDown.five {
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 1s;
  -webkit-overflow: hidden;
}

/* line 201, ../sass/custom.scss */
#body {
  background: #EB4646 !important;
}

/* line 204, ../sass/custom.scss */
i.fa-angle-down {
  margin-left: 50% !important;
  margin-right: 50% !important;
  position: relative !important;
  bottom: 50px !important;
}
/* line 209, ../sass/custom.scss */
i.fa-angle-down:hover {
  color: white !important;
}

/* line 213, ../sass/custom.scss */
.cbp-so-scroller h2 {
  color: white !important;
}
/* line 214, ../sass/custom.scss */
.cbp-so-scroller p {
  color: white !important;
}

/* line 217, ../sass/custom.scss */
.intro {
  font-size: 50px !important;
}

/* line 219, ../sass/custom.scss */
.mySmallLink {
  position: relative;
  bottom: 2px;
}

/* line 224, ../sass/custom.scss */
.bioLinks {
  color: #B8B6B4;
}
/* line 226, ../sass/custom.scss */
.bioLinks:hover {
  text-decoration: none;
}

/* line 229, ../sass/custom.scss */
i.menuShow {
  color: white !important;
}
/* line 231, ../sass/custom.scss */
i.menuShow:hover {
  color: grey !important;
}
/* line 232, ../sass/custom.scss */
i.menuShow:active {
  color: black !important;
}

/* line 235, ../sass/custom.scss */
.myPic {
  display: block;
  width: 300px;
  height: 300px;
  position: relative;
  margin-top: 80px;
  margin-right: 20%;
  border-radius: 200px;
  border: 3px solid white;
}

/* line 248, ../sass/custom.scss */
.aboutMeP {
  padding-left: auto;
  padding-right: auto;
  padding-bottom: 20px;
  text-align: left;
  font-size: 20px;
}

/* line 261, ../sass/custom.scss */
#learned-body {
  background: #F5D15B !important;
}
/* line 263, ../sass/custom.scss */
#learned-body p {
  color: white !important;
  font-family: 'Lato-Light' !important;
}

/* line 269, ../sass/custom.scss */
.whatIKnowP {
  margin-bottom: 30px;
  padding-left: 100px;
  padding-right: 100px;
  text-align: center;
  font-size: 20px;
  color: white !important;
}

/* line 280, ../sass/custom.scss */
.learned-titles {
  padding: 10px;
  text-align: center;
  font-size: 90px !important;
  color: white !important;
  border-bottom: 3px solid white !important;
}

/* line 289, ../sass/custom.scss */
#projects-body {
  background: #309FFF !important;
}
/* line 291, ../sass/custom.scss */
#projects-body h1 {
  color: white !important;
  border-bottom: 3px solid white !important;
}
/* line 295, ../sass/custom.scss */
#projects-body p {
  color: white !important;
}

/* line 298, ../sass/custom.scss */
#project-title {
  font-size: 100px !important;
  padding: 15px;
  text-align: center;
}

/* line 304, ../sass/custom.scss */
.projects-icon {
  color: white !important;
}
/* line 306, ../sass/custom.scss */
.projects-icon:hover {
  color: white !important;
}
/* line 307, ../sass/custom.scss */
.projects-icon:active {
  color: white !important;
}

/* line 310, ../sass/custom.scss */
.status {
  color: white !important;
  padding-left: 2px !important;
  padding-right: 2px !important;
}

/* line 318, ../sass/custom.scss */
.fa-check-square {
  color: white !important;
}

/* line 319, ../sass/custom.scss */
.fa-square {
  color: grey !important;
}
