/* line 3, ../sass/_hoverEffects-home-page.scss */
.grid {
  overflow: hidden;
  /*margin: 0;*/
  /*padding: 3em 0 0 0;*/
  /*width: 100%;*/
  list-style: none;
  text-align: center;
}

/* Common style */
/* line 13, ../sass/_hoverEffects-home-page.scss */
.grid figure {
  position: relative;
  z-index: 1;
  display: inline-block;
  overflow: hidden;
  /*margin: -0.135em;*/
  width: 350px;
  height: 350px;
  background: #EB4646;
  text-align: center;
  cursor: pointer;
  border-radius: 100%;
  border: 3px solid white;
}

/* line 28, ../sass/_hoverEffects-home-page.scss */
.overlay-menu figure {
  position: relative;
  z-index: 1;
  display: inline-block;
  overflow: hidden;
  width: 220px;
  height: 220px;
  background: transparent;
  text-align: center;
  cursor: pointer;
  border-radius: 0%;
  border: 3px solid white;
}

/* line 42, ../sass/_hoverEffects-home-page.scss */
.grid figure img {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  opacity: 0.8;
}

/* line 50, ../sass/_hoverEffects-home-page.scss */
.grid figure figcaption {
  /*padding: 2em;*/
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 60, ../sass/_hoverEffects-home-page.scss */
.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}

/* line 65, ../sass/_hoverEffects-home-page.scss */
.grid figure figcaption,
.grid figure a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
/* line 75, ../sass/_hoverEffects-home-page.scss */
.grid figure a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

/* line 83, ../sass/_hoverEffects-home-page.scss */
.grid figure h2 {
  word-spacing: -0.15em;
  font-weight: 300;
  font-size: 30px;
}

/* line 89, ../sass/_hoverEffects-home-page.scss */
.overlay-menu figure h2 {
  word-spacing: -0.15em;
  font-weight: 300;
  font-size: 20px;
}

/* line 96, ../sass/_hoverEffects-home-page.scss */
.grid figure h2 span {
  font-weight: 800;
}

/* line 101, ../sass/_hoverEffects-home-page.scss */
.grid figure h2,
.grid figure p {
  margin: 0;
}

/* line 105, ../sass/_hoverEffects-home-page.scss */
.grid figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
}

/* Individual effects */
/*---------------*/
/***** Lily *****/
/*---------------*/
/* line 116, ../sass/_hoverEffects-home-page.scss */
figure.effect-lily img {
  width: -webkit-calc(100% + 50px);
  width: calc(100% + 50px);
  opacity: 0.7;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-40px, 0, 0);
  transform: translate3d(-40px, 0, 0);
}

/* line 126, ../sass/_hoverEffects-home-page.scss */
figure.effect-lily figcaption {
  top: auto;
  bottom: 0;
  height: 50%;
  text-align: left;
}

/* line 134, ../sass/_hoverEffects-home-page.scss */
figure.effect-lily h2,
figure.effect-lily p {
  -webkit-transform: translate3d(0, 40px, 0);
  transform: translate3d(0, 40px, 0);
}

/* line 139, ../sass/_hoverEffects-home-page.scss */
figure.effect-lily h2 {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
}

/* line 144, ../sass/_hoverEffects-home-page.scss */
figure.effect-lily p {
  color: rgba(255, 255, 255, 0.6);
  opacity: 0;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
  transition: opacity 0.2s, transform 0.35s;
}

/* line 152, ../sass/_hoverEffects-home-page.scss */
figure.effect-lily:hover img,
figure.effect-lily:hover p {
  opacity: 1;
}

/* line 158, ../sass/_hoverEffects-home-page.scss */
figure.effect-lily:hover img,
figure.effect-lily:hover h2,
figure.effect-lily:hover p {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 163, ../sass/_hoverEffects-home-page.scss */
figure.effect-lily:hover p {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
}

/*---------------*/
/***** Sadie *****/
/*---------------*/
/* line 174, ../sass/_hoverEffects-home-page.scss */
figure.effect-sadie figcaption::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(top, rgba(72, 76, 97, 0) 0%, rgba(72, 76, 97, 0.8) 75%);
  background: linear-gradient(to bottom, rgba(72, 76, 97, 0) 0%, rgba(72, 76, 97, 0.8) 75%);
  content: '';
  opacity: 0;
  -webkit-transform: translate3d(0, 50%, 0);
  transform: translate3d(0, 50%, 0);
}

/* line 188, ../sass/_hoverEffects-home-page.scss */
figure.effect-sadie h2 {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  color: #484c61;
  -webkit-transition: -webkit-transform 0.35s, color 0.35s;
  transition: transform 0.35s, color 0.35s;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}

/* line 201, ../sass/_hoverEffects-home-page.scss */
figure.effect-sadie figcaption::before,
figure.effect-sadie p {
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}

/* line 206, ../sass/_hoverEffects-home-page.scss */
figure.effect-sadie p {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2em;
  width: 100%;
  opacity: 0;
  -webkit-transform: translate3d(0, 10px, 0);
  transform: translate3d(0, 10px, 0);
}

/* line 217, ../sass/_hoverEffects-home-page.scss */
figure.effect-sadie:hover h2 {
  color: #fff;
  -webkit-transform: translate3d(0, -50%, 0) translate3d(0, -40px, 0);
  transform: translate3d(0, -50%, 0) translate3d(0, -40px, 0);
}

/* line 224, ../sass/_hoverEffects-home-page.scss */
figure.effect-sadie:hover figcaption::before,
figure.effect-sadie:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/*---------------*/
/***** Roxy *****/
/*---------------*/
/* line 234, ../sass/_hoverEffects-home-page.scss */
figure.effect-roxy {
  background: -webkit-linear-gradient(45deg, #ff89e9 0%, #05abe0 100%);
  background: linear-gradient(45deg, #ff89e9 0%, #05abe0 100%);
}

/* line 239, ../sass/_hoverEffects-home-page.scss */
figure.effect-roxy img {
  width: -webkit-calc(100% + 60px);
  width: calc(100% + 60px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-50px, 0, 0);
  transform: translate3d(-50px, 0, 0);
}

/* line 248, ../sass/_hoverEffects-home-page.scss */
figure.effect-roxy figcaption::before {
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 30px;
  border: 1px solid #fff;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-20px, 0, 0);
  transform: translate3d(-20px, 0, 0);
}

/* line 263, ../sass/_hoverEffects-home-page.scss */
figure.effect-roxy figcaption {
  padding: 3em;
  text-align: left;
}

/* line 268, ../sass/_hoverEffects-home-page.scss */
figure.effect-roxy h2 {
  padding: 30% 0 10px 0;
}

/* line 272, ../sass/_hoverEffects-home-page.scss */
figure.effect-roxy p {
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-10px, 0, 0);
  transform: translate3d(-10px, 0, 0);
}

/* line 280, ../sass/_hoverEffects-home-page.scss */
figure.effect-roxy:hover img {
  opacity: 0.7;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 287, ../sass/_hoverEffects-home-page.scss */
figure.effect-roxy:hover figcaption::before,
figure.effect-roxy:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/*---------------*/
/***** Bubba *****/
/*---------------*/
/* line 297, ../sass/_hoverEffects-home-page.scss */
figure.effect-bubba {
  background: #9e5406;
}

/* line 301, ../sass/_hoverEffects-home-page.scss */
figure.effect-bubba img {
  opacity: 0.7;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}

/* line 307, ../sass/_hoverEffects-home-page.scss */
figure.effect-bubba:hover img {
  opacity: 0.4;
}

/* line 312, ../sass/_hoverEffects-home-page.scss */
figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 30px;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}

/* line 324, ../sass/_hoverEffects-home-page.scss */
figure.effect-bubba figcaption::before {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}

/* line 331, ../sass/_hoverEffects-home-page.scss */
figure.effect-bubba figcaption::after {
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  -webkit-transform: scale(1, 0);
  transform: scale(1, 0);
}

/* line 338, ../sass/_hoverEffects-home-page.scss */
figure.effect-bubba h2 {
  padding-top: 30%;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0, -20px, 0);
  transform: translate3d(0, -20px, 0);
}

/* line 346, ../sass/_hoverEffects-home-page.scss */
figure.effect-bubba p {
  padding: 20px 2.5em;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, 20px, 0);
  transform: translate3d(0, 20px, 0);
}

/* line 356, ../sass/_hoverEffects-home-page.scss */
figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* line 363, ../sass/_hoverEffects-home-page.scss */
figure.effect-bubba:hover h2,
figure.effect-bubba:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/*---------------*/
/***** Romeo *****/
/*---------------*/
/* line 373, ../sass/_hoverEffects-home-page.scss */
figure.effect-romeo {
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

/* line 378, ../sass/_hoverEffects-home-page.scss */
figure.effect-romeo img {
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, 0, 300px);
  transform: translate3d(0, 0, 300px);
}

/* line 385, ../sass/_hoverEffects-home-page.scss */
figure.effect-romeo:hover img {
  opacity: 0.6;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 392, ../sass/_hoverEffects-home-page.scss */
figure.effect-romeo figcaption::before,
figure.effect-romeo figcaption::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 1px;
  background: #fff;
  content: '';
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

/* line 406, ../sass/_hoverEffects-home-page.scss */
figure.effect-romeo:hover figcaption::before {
  opacity: 0.5;
  -webkit-transform: translate3d(-50%, -50%, 0) rotate(45deg);
  transform: translate3d(-50%, -50%, 0) rotate(45deg);
}

/* line 412, ../sass/_hoverEffects-home-page.scss */
figure.effect-romeo:hover figcaption::after {
  opacity: 0.5;
  -webkit-transform: translate3d(-50%, -50%, 0) rotate(-45deg);
  transform: translate3d(-50%, -50%, 0) rotate(-45deg);
}

/* line 419, ../sass/_hoverEffects-home-page.scss */
figure.effect-romeo h2,
figure.effect-romeo p {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
}

/* line 428, ../sass/_hoverEffects-home-page.scss */
figure.effect-romeo h2 {
  -webkit-transform: translate3d(0, -50%, 0) translate3d(0, -150%, 0);
  transform: translate3d(0, -50%, 0) translate3d(0, -150%, 0);
}

/* line 433, ../sass/_hoverEffects-home-page.scss */
figure.effect-romeo p {
  padding: 0.25em 2em;
  -webkit-transform: translate3d(0, -50%, 0) translate3d(0, 150%, 0);
  transform: translate3d(0, -50%, 0) translate3d(0, 150%, 0);
}

/* line 439, ../sass/_hoverEffects-home-page.scss */
figure.effect-romeo:hover h2 {
  -webkit-transform: translate3d(0, -50%, 0) translate3d(0, -100%, 0);
  transform: translate3d(0, -50%, 0) translate3d(0, -100%, 0);
}

/* line 444, ../sass/_hoverEffects-home-page.scss */
figure.effect-romeo:hover p {
  -webkit-transform: translate3d(0, -50%, 0) translate3d(0, 100%, 0);
  transform: translate3d(0, -50%, 0) translate3d(0, 100%, 0);
}

/*---------------*/
/***** Layla *****/
/*---------------*/
/* line 453, ../sass/_hoverEffects-home-page.scss */
figure.effect-layla {
  background: #18a367;
}

/* line 457, ../sass/_hoverEffects-home-page.scss */
figure.effect-layla img {
  min-width: 100%;
  height: -webkit-calc(100% + 40px);
  height: calc(100% + 40px);
}

/* line 463, ../sass/_hoverEffects-home-page.scss */
figure.effect-layla figcaption {
  padding: 3em;
}

/* line 468, ../sass/_hoverEffects-home-page.scss */
figure.effect-layla figcaption::before,
figure.effect-layla figcaption::after {
  position: absolute;
  content: '';
  opacity: 0;
}

/* line 474, ../sass/_hoverEffects-home-page.scss */
figure.effect-layla figcaption::before {
  top: 50px;
  right: 30px;
  bottom: 50px;
  left: 30px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

/* line 487, ../sass/_hoverEffects-home-page.scss */
figure.effect-layla figcaption::after {
  top: 30px;
  right: 50px;
  bottom: 30px;
  left: 50px;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  -webkit-transform: scale(1, 0);
  transform: scale(1, 0);
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
}

/* line 500, ../sass/_hoverEffects-home-page.scss */
figure.effect-layla h2 {
  padding-top: 26%;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
}

/* line 506, ../sass/_hoverEffects-home-page.scss */
figure.effect-layla p {
  padding: 0.5em 2em;
  text-transform: none;
  opacity: 0;
  -webkit-transform: translate3d(0, -10px, 0);
  transform: translate3d(0, -10px, 0);
}

/* line 515, ../sass/_hoverEffects-home-page.scss */
figure.effect-layla img,
figure.effect-layla h2 {
  -webkit-transform: translate3d(0, -30px, 0);
  transform: translate3d(0, -30px, 0);
}

/* line 523, ../sass/_hoverEffects-home-page.scss */
figure.effect-layla img,
figure.effect-layla figcaption::before,
figure.effect-layla figcaption::after,
figure.effect-layla p {
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}

/* line 528, ../sass/_hoverEffects-home-page.scss */
figure.effect-layla:hover img {
  opacity: 0.7;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 535, ../sass/_hoverEffects-home-page.scss */
figure.effect-layla:hover figcaption::before,
figure.effect-layla:hover figcaption::after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* line 542, ../sass/_hoverEffects-home-page.scss */
figure.effect-layla:hover h2,
figure.effect-layla:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 551, ../sass/_hoverEffects-home-page.scss */
figure.effect-layla:hover figcaption::after,
figure.effect-layla:hover h2,
figure.effect-layla:hover p,
figure.effect-layla:hover img {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

/*---------------*/
/***** Honey *****/
/*---------------*/
/* line 560, ../sass/_hoverEffects-home-page.scss */
figure.effect-honey {
  background: transparent;
}

/* line 564, ../sass/_hoverEffects-home-page.scss */
figure.effect-honey img {
  opacity: 0.9;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}

/* line 570, ../sass/_hoverEffects-home-page.scss */
figure.effect-honey:hover img {
  opacity: 0.5;
}

/* line 574, ../sass/_hoverEffects-home-page.scss */
figure.effect-honey figcaption::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background: #fff;
  content: '';
  -webkit-transform: translate3d(0, 10px, 0);
  transform: translate3d(0, 10px, 0);
}

/* line 586, ../sass/_hoverEffects-home-page.scss */
figure.effect-honey h2 {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1em 1.5em;
  width: 100%;
  text-align: left;
  -webkit-transform: translate3d(0, -30px, 0);
  transform: translate3d(0, -30px, 0);
}

/* line 597, ../sass/_hoverEffects-home-page.scss */
figure.effect-honey h2 i {
  font-style: normal;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, -30px, 0);
  transform: translate3d(0, -30px, 0);
}

/* line 607, ../sass/_hoverEffects-home-page.scss */
figure.effect-honey figcaption::before,
figure.effect-honey h2 {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
}

/* line 614, ../sass/_hoverEffects-home-page.scss */
figure.effect-honey:hover figcaption::before,
figure.effect-honey:hover h2,
figure.effect-honey:hover h2 i {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/*---------------*/
/***** Oscar *****/
/*---------------*/
/* line 624, ../sass/_hoverEffects-home-page.scss */
figure.effect-oscar {
  background: -webkit-linear-gradient(45deg, #22682a 0%, #9b4a1b 40%, #3a342a 100%);
  background: linear-gradient(45deg, #22682a 0%, #9b4a1b 40%, #3a342a 100%);
}

/* line 629, ../sass/_hoverEffects-home-page.scss */
figure.effect-oscar img {
  opacity: 0.9;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}

/* line 635, ../sass/_hoverEffects-home-page.scss */
figure.effect-oscar figcaption {
  padding: 3em;
  background-color: rgba(58, 52, 42, 0.7);
  -webkit-transition: background-color 0.35s;
  transition: background-color 0.35s;
}

/* line 642, ../sass/_hoverEffects-home-page.scss */
figure.effect-oscar figcaption::before {
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 30px;
  border: 1px solid #fff;
  content: '';
}

/* line 652, ../sass/_hoverEffects-home-page.scss */
figure.effect-oscar h2 {
  margin: 20% 0 10px 0;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}

/* line 661, ../sass/_hoverEffects-home-page.scss */
figure.effect-oscar figcaption::before,
figure.effect-oscar p {
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0);
  transform: scale(0);
}

/* line 669, ../sass/_hoverEffects-home-page.scss */
figure.effect-oscar:hover h2 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 675, ../sass/_hoverEffects-home-page.scss */
figure.effect-oscar:hover figcaption::before,
figure.effect-oscar:hover p {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* line 681, ../sass/_hoverEffects-home-page.scss */
figure.effect-oscar:hover figcaption {
  background-color: rgba(58, 52, 42, 0);
}

/* line 685, ../sass/_hoverEffects-home-page.scss */
figure.effect-oscar:hover img {
  opacity: 0.4;
}

/*---------------*/
/***** Marley *****/
/*---------------*/
/* line 693, ../sass/_hoverEffects-home-page.scss */
figure.effect-marley figcaption {
  text-align: right;
}

/* line 698, ../sass/_hoverEffects-home-page.scss */
figure.effect-marley h2,
figure.effect-marley p {
  position: absolute;
  right: 30px;
  left: 30px;
  padding: 10px 0;
}

/* line 706, ../sass/_hoverEffects-home-page.scss */
figure.effect-marley p {
  bottom: 30px;
  line-height: 1.5;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}

/* line 713, ../sass/_hoverEffects-home-page.scss */
figure.effect-marley h2 {
  top: 30px;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0, 20px, 0);
  transform: translate3d(0, 20px, 0);
}

/* line 721, ../sass/_hoverEffects-home-page.scss */
figure.effect-marley:hover h2 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 726, ../sass/_hoverEffects-home-page.scss */
figure.effect-marley h2::after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 4px;
  background: #fff;
  content: '';
  -webkit-transform: translate3d(0, 40px, 0);
  transform: translate3d(0, 40px, 0);
}

/* line 739, ../sass/_hoverEffects-home-page.scss */
figure.effect-marley h2::after,
figure.effect-marley p {
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}

/* line 746, ../sass/_hoverEffects-home-page.scss */
figure.effect-marley:hover h2::after,
figure.effect-marley:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/*---------------*/
/***** Ruby *****/
/*---------------*/
/* line 756, ../sass/_hoverEffects-home-page.scss */
figure.effect-ruby {
  background-color: #17819c;
}

/* line 760, ../sass/_hoverEffects-home-page.scss */
figure.effect-ruby img {
  opacity: 0.7;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}

/* line 768, ../sass/_hoverEffects-home-page.scss */
figure.effect-ruby:hover img {
  opacity: 0.5;
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* line 774, ../sass/_hoverEffects-home-page.scss */
figure.effect-ruby h2 {
  margin-top: 20%;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0, 20px, 0);
  transform: translate3d(0, 20px, 0);
}

/* line 782, ../sass/_hoverEffects-home-page.scss */
figure.effect-ruby p {
  margin: 1em 0 0;
  padding: 3em;
  border: 1px solid #fff;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, 20px, 0) scale(1.1);
  transform: translate3d(0, 20px, 0) scale(1.1);
}

/* line 793, ../sass/_hoverEffects-home-page.scss */
figure.effect-ruby:hover h2 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 798, ../sass/_hoverEffects-home-page.scss */
figure.effect-ruby:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1);
}

/*---------------*/
/***** Milo *****/
/*---------------*/
/* line 808, ../sass/_hoverEffects-home-page.scss */
figure.effect-milo {
  background: #2e5d5a;
}

/* line 812, ../sass/_hoverEffects-home-page.scss */
figure.effect-milo img {
  width: -webkit-calc(100% + 60px);
  width: calc(100% + 60px);
  opacity: 1;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-30px, 0, 0) scale(1.12);
  transform: translate3d(-30px, 0, 0) scale(1.12);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 824, ../sass/_hoverEffects-home-page.scss */
figure.effect-milo:hover img {
  opacity: 0.5;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1);
}

/* line 830, ../sass/_hoverEffects-home-page.scss */
figure.effect-milo h2 {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 1em 1.2em;
}

/* line 837, ../sass/_hoverEffects-home-page.scss */
figure.effect-milo p {
  padding: 0 10px 0 0;
  width: 50%;
  border-right: 1px solid #fff;
  text-align: right;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-40px, 0, 0);
  transform: translate3d(-40px, 0, 0);
}

/* line 849, ../sass/_hoverEffects-home-page.scss */
figure.effect-milo:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/*---------------*/
/***** Dexter *****/
/*---------------*/
/* line 859, ../sass/_hoverEffects-home-page.scss */
figure.effect-dexter {
  background: -webkit-linear-gradient(top, #258dc8 0%, #683c13 100%);
  background: linear-gradient(to bottom, #258dc8 0%, #683c13 100%);
}

/* line 864, ../sass/_hoverEffects-home-page.scss */
figure.effect-dexter img {
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}

/* line 869, ../sass/_hoverEffects-home-page.scss */
figure.effect-dexter:hover img {
  opacity: 0.4;
}

/* line 873, ../sass/_hoverEffects-home-page.scss */
figure.effect-dexter figcaption::after {
  position: absolute;
  right: 30px;
  bottom: 30px;
  left: 30px;
  height: -webkit-calc(50% - 30px);
  height: calc(50% - 30px);
  border: 7px solid #fff;
  content: '';
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}

/* line 888, ../sass/_hoverEffects-home-page.scss */
figure.effect-dexter:hover figcaption::after {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 893, ../sass/_hoverEffects-home-page.scss */
figure.effect-dexter figcaption {
  padding: 3em;
  text-align: left;
}

/* line 898, ../sass/_hoverEffects-home-page.scss */
figure.effect-dexter p {
  position: absolute;
  right: 60px;
  bottom: 60px;
  left: 60px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, -100px, 0);
  transform: translate3d(0, -100px, 0);
}

/* line 910, ../sass/_hoverEffects-home-page.scss */
figure.effect-dexter:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/*---------------*/
/***** Sarah *****/
/*---------------*/
/* line 920, ../sass/_hoverEffects-home-page.scss */
figure.effect-sarah {
  background: #42b078;
}

/* line 924, ../sass/_hoverEffects-home-page.scss */
figure.effect-sarah img {
  width: -webkit-calc(100% + 20px);
  width: calc(100% + 20px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-10px, 0, 0);
  transform: translate3d(-10px, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 935, ../sass/_hoverEffects-home-page.scss */
figure.effect-sarah:hover img {
  opacity: 0.4;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 941, ../sass/_hoverEffects-home-page.scss */
figure.effect-sarah figcaption {
  text-align: left;
}

/* line 945, ../sass/_hoverEffects-home-page.scss */
figure.effect-sarah h2 {
  position: relative;
  overflow: hidden;
  padding: 0.5em 0;
}

/* line 951, ../sass/_hoverEffects-home-page.scss */
figure.effect-sarah h2::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: #fff;
  content: '';
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

/* line 965, ../sass/_hoverEffects-home-page.scss */
figure.effect-sarah:hover h2::after {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 970, ../sass/_hoverEffects-home-page.scss */
figure.effect-sarah p {
  padding: 1em 0;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

/* line 979, ../sass/_hoverEffects-home-page.scss */
figure.effect-sarah:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/*---------------*/
/***** Zoe *****/
/*---------------*/
/* line 989, ../sass/_hoverEffects-home-page.scss */
figure.effect-zoe figcaption {
  top: auto;
  bottom: 0;
  padding: 1em;
  height: 3.75em;
  background: #fff;
  color: #3c4a50;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}

/* line 1002, ../sass/_hoverEffects-home-page.scss */
figure.effect-zoe h2 {
  float: left;
}

/* line 1006, ../sass/_hoverEffects-home-page.scss */
figure.effect-zoe figcaption > span {
  float: right;
}

/* line 1010, ../sass/_hoverEffects-home-page.scss */
figure.effect-zoe p {
  position: absolute;
  bottom: 8em;
  padding: 2em;
  color: #fff;
  text-transform: none;
  font-size: 90%;
  opacity: 0;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}

/* line 1023, ../sass/_hoverEffects-home-page.scss */
figure.effect-zoe h2,
figure.effect-zoe figcaption > span {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0, 200%, 0);
  transform: translate3d(0, 200%, 0);
}

/* line 1030, ../sass/_hoverEffects-home-page.scss */
figure.effect-zoe figcaption > span::before {
  display: inline-block;
  padding: 8px 10px;
  font-family: 'feathericons';
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 1039, ../sass/_hoverEffects-home-page.scss */
.icon-eye::before {
  content: '\e000';
}

/* line 1043, ../sass/_hoverEffects-home-page.scss */
.icon-paper-clip::before {
  content: '\e001';
}

/* line 1047, ../sass/_hoverEffects-home-page.scss */
.icon-heart::before {
  content: '\e024';
}

/* line 1051, ../sass/_hoverEffects-home-page.scss */
figure.effect-zoe h2 {
  display: inline-block;
}

/* line 1055, ../sass/_hoverEffects-home-page.scss */
figure.effect-zoe:hover p {
  opacity: 1;
}

/* line 1061, ../sass/_hoverEffects-home-page.scss */
figure.effect-zoe:hover figcaption,
figure.effect-zoe:hover h2,
figure.effect-zoe:hover figcaption > span {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 1066, ../sass/_hoverEffects-home-page.scss */
figure.effect-zoe:hover h2 {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}

/* line 1071, ../sass/_hoverEffects-home-page.scss */
figure.effect-zoe:hover figcaption > span:nth-child(4) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

/* line 1076, ../sass/_hoverEffects-home-page.scss */
figure.effect-zoe:hover figcaption > span:nth-child(3) {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

/* line 1081, ../sass/_hoverEffects-home-page.scss */
figure.effect-zoe:hover figcaption > span:nth-child(2) {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

/*---------------*/
/***** Chico *****/
/*---------------*/
/* line 1090, ../sass/_hoverEffects-home-page.scss */
figure.effect-chico img {
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(1.12);
  transform: scale(1.12);
}

/* line 1097, ../sass/_hoverEffects-home-page.scss */
figure.effect-chico:hover img {
  opacity: 0.5;
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* line 1103, ../sass/_hoverEffects-home-page.scss */
figure.effect-chico figcaption {
  padding: 3em;
}

/* line 1107, ../sass/_hoverEffects-home-page.scss */
figure.effect-chico figcaption::before {
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 30px;
  border: 1px solid #fff;
  content: '';
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* line 1120, ../sass/_hoverEffects-home-page.scss */
figure.effect-chico figcaption::before,
figure.effect-chico p {
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}

/* line 1126, ../sass/_hoverEffects-home-page.scss */
figure.effect-chico h2 {
  padding: 20% 0 20px 0;
}

/* line 1130, ../sass/_hoverEffects-home-page.scss */
figure.effect-chico p {
  margin: 0 auto;
  max-width: 200px;
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

/* line 1138, ../sass/_hoverEffects-home-page.scss */
figure.effect-chico:hover figcaption::before,
figure.effect-chico:hover p {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

@media screen and (max-width: 69.5em) {
  /* line 1145, ../sass/_hoverEffects-home-page.scss */
  .grid figure {
    width: 200px;
    height: 200px;
  }

  /* line 1149, ../sass/_hoverEffects-home-page.scss */
  .grid figure h2 {
    font-size: 15px;
  }

  /* line 1153, ../sass/_hoverEffects-home-page.scss */
  .grid figure figcaption {
    font-size: 90%;
  }
}
@media screen and (max-width: 41.5em) {
  /* line 1161, ../sass/_hoverEffects-home-page.scss */
  .grid figure {
    width: 100%;
  }
}
@-webkit-keyframes hue {
  /* line 2, ../sass/_overlay-menu-home.scss */
  from {
    -webkit-filter: hue-rotate(0deg);
  }

  /* line 6, ../sass/_overlay-menu-home.scss */
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

/* Overlay style */
/* line 14, ../sass/_overlay-menu-home.scss */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /*background: rgba(148, 148, 148, 0.9);*/
  /*background: rgba(102, 0, 255, 0.9);*/
  background: rgba(46, 209, 192, 0.9);
  -webkit-animation: hue 60s infinite linear !important;
}

/* Overlay closing cross */
/* line 27, ../sass/_overlay-menu-home.scss */
.overlay .overlay-close {
  width: 80px;
  height: 80px;
  position: absolute;
  right: 20px;
  top: 20px;
  overflow: hidden;
  border: none;
  background: url(../img/cross.png) no-repeat center center;
  text-indent: 200%;
  color: transparent;
  outline: none;
  z-index: 100;
}

/* Menu style */
/* line 43, ../sass/_overlay-menu-home.scss */
.overlay nav {
  text-align: center;
  position: relative;
  top: 50%;
  height: 60%;
  font-size: 54px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 53, ../sass/_overlay-menu-home.scss */
.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  height: 100%;
  position: relative;
}

/* line 62, ../sass/_overlay-menu-home.scss */
.overlay ul li {
  display: block;
  height: 20%;
  height: calc(100% / 5);
  min-height: 54px;
}

/* line 69, ../sass/_overlay-menu-home.scss */
.overlay ul li a {
  font-weight: 300;
  display: block;
  color: #fff;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

/* line 78, ../sass/_overlay-menu-home.scss */
.overlay ul li a:hover,
.overlay ul li a:focus {
  color: #e3fcb1;
  text-decoration: none;
}

/* Effects */
/* line 84, ../sass/_overlay-menu-home.scss */
body {
  background: #ddd;
}

/* line 88, ../sass/_overlay-menu-home.scss */
.container {
  background: #EB4646;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

/* line 94, ../sass/_overlay-menu-home.scss */
.container.overlay-open {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}

/* line 99, ../sass/_overlay-menu-home.scss */
.overlay-contentscale {
  visibility: hidden;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: -webkit-transform 0.5s, visibility 0s 0.5s;
  transition: transform 0.5s, visibility 0s 0.5s;
}

/* line 107, ../sass/_overlay-menu-home.scss */
.overlay-contentscale.open {
  visibility: visible;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

@media (max-width: 640px) {
  /* line 116, ../sass/_overlay-menu-home.scss */
  .overlay nav figure {
    width: 30%;
    height: 120px;
    /*font-size: 34px;*/
  }

  /* line 122, ../sass/_overlay-menu-home.scss */
  .myPic {
    width: 70%;
    height: 70%;
  }

  /* line 127, ../sass/_overlay-menu-home.scss */
  .overlay nav figure h2 {
    font-size: 12px;
  }

  /* line 132, ../sass/_overlay-menu-home.scss */
  .overlay .overlay-menu {
    min-height: 34px;
  }

  /* line 136, ../sass/_overlay-menu-home.scss */
  .homeGrid {
    width: 75%;
    height: 75%;
  }
}
/* line 1, ../sass/_scroller.scss */
.cbp-so-scroller {
  margin-top: 3em;
  overflow: hidden;
}

/* line 6, ../sass/_scroller.scss */
.cbp-so-section {
  margin-bottom: 15em;
}
/* line 8, ../sass/_scroller.scss */
.cbp-so-section h2 {
  font-size: 5em;
  font-weight: 300;
  line-height: 1;
}
/* line 13, ../sass/_scroller.scss */
.cbp-so-section p {
  font-size: 2em;
  font-weight: 300;
}

/* Clear floats of children */
/* line 21, ../sass/_scroller.scss */
.cbp-so-section:before,
.cbp-so-section:after {
  content: " ";
  display: table;
}

/* line 26, ../sass/_scroller.scss */
.cbp-so-section:after {
  clear: both;
}

/* Sides */
/* line 31, ../sass/_scroller.scss */
.cbp-so-side {
  width: 50%;
  float: left;
  margin: 0;
  padding: 3em 4%;
  overflow: hidden;
  min-height: 12em;
  -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
  -moz-transition: -moz-transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s;
}

/* Clear floats of children */
/* line 45, ../sass/_scroller.scss */
.cbp-so-side:before,
.cbp-so-side:after {
  content: " ";
  display: table;
}

/* line 50, ../sass/_scroller.scss */
.cbp-so-side:after {
  clear: both;
}

/* line 54, ../sass/_scroller.scss */
.cbp-so-side-right {
  text-align: left;
}

/* line 58, ../sass/_scroller.scss */
.cbp-so-side-left {
  text-align: right;
}

/* line 61, ../sass/_scroller.scss */
article.cbp-so-side-right {
  /*border-right: 2px solid lightgrey;*/
  /*border-left: 2px solid lightgrey;*/
}

/* line 65, ../sass/_scroller.scss */
article.cbp-so-side-left {
  /*border-left: 2px solid lightgrey;*/
  /*border-right: 2px solid lightgrey;*/
}

/* line 70, ../sass/_scroller.scss */
.cbp-so-side-right img {
  float: left;
}

/* line 75, ../sass/_scroller.scss */
.cbp-so-side-left img {
  float: right;
}

/* Initial state (hidden or anything else) */
/* line 80, ../sass/_scroller.scss */
.cbp-so-init .cbp-so-side {
  opacity: 0;
}

/* line 85, ../sass/_scroller.scss */
.cbp-so-init .cbp-so-side-left {
  -webkit-transform: translateX(-80px);
  -moz-transform: translateX(-80px);
  transform: translateX(-80px);
}
/* line 90, ../sass/_scroller.scss */
.cbp-so-init .cbp-so-side-right {
  -webkit-transform: translateX(80px);
  -moz-transform: translateX(80px);
  transform: translateX(80px);
}

/* Animated state */
/* add you final states (transition) or your effects (animations) for each side */
/* line 100, ../sass/_scroller.scss */
.cbp-so-section.cbp-so-animate .cbp-so-side-left,
.cbp-so-section.cbp-so-animate .cbp-so-side-right {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
  opacity: 1;
}

/* For example, add a delay for the right side:
.cbp-so-section.cbp-so-animate .cbp-so-side-right {
	-webkit-transition-delay: 0.2s;
	-moz-transition-delay: 0.2s;
	transition-delay: 0.2s;
}
*/
/* Example media queries */
@media screen and (max-width: 73.5em) {
  /* line 118, ../sass/_scroller.scss */
  .cbp-so-scroller {
    font-size: 65%;
  }

  /* line 120, ../sass/_scroller.scss */
  .cbp-so-section h2 {
    margin: 0;
  }

  /* line 122, ../sass/_scroller.scss */
  .cbp-so-side img {
    max-width: 120%;
  }
}
@media screen and (max-width: 41.125em) {
  /* line 126, ../sass/_scroller.scss */
  .cbp-so-side {
    float: none;
    width: 100%;
  }
  /* line 129, ../sass/_scroller.scss */
  .cbp-so-side img {
    max-width: 100%;
  }
}
